<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.12.3.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background: lavender">Hello</div>
        <div class="col-md-5" style="background: lightblue">Hello</div>
        <div class="col-md-2" style="background: lightgreen">Hello</div>
        <div class="col-md-5" style="background: orange">Hello</div>
    </div>
</div>
<div class="col-md-5" style="background: lightcoral">Hello</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="background: lavender">Hello</div>
        <div class="col-md-5" style="background: lightblue">Hello</div>
        <div class="col-md-2" style="background: lightgreen">Hello</div>
        <div class="col-md-5" style="background: orange">Hello</div>
    </div>
</div>
<div class="col-md-5" style="background: lightcoral">Hello</div>
<!--
xs = mobile
sm = small
md = medium
lg = large
-->
</body>
</html>