<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.12.3.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1>Headings <small>Head 1</small></h1>
    <h2>Heading</h2>
    <h3>Heading</h3>
    <h4>Heading</h4>
    <h5>Heading</h5>
    <h6>Heading</h6>
    <blockquote>Block Quote Area</blockquote>
    <blockquote class="blockquote-reverse">Block Quote Area</blockquote>
    <p>The <abbr title="United Nation">UN</abbr> connects the world to each other.</p>
    <mark>The is the mark</mark>
    <dl class="dl-horizontal">
        <dt>Newspaper</dt>
        <dd> - The Newspaper can have some interesting news</dd>
        <dt>Internet</dt>
        <dd> - The Internet is the biggest source to get access on thousands of information</dd>
        <dt></dt>
        <dd></dd>
        <dt></dt>
        <dd></dd>
    </dl>
    <pre>
        This is        log    space   paragraph.
                    The new Line            Has    done.
    </pre>
    <p>This is a Simple Paragraph</p>
    <p class="text-success bg-success">This is a Simple Paragraph</p>
    <p class="text-danger bg-danger">This is a Simple Paragraph</p>
    <p class="text-info bg-info">This is a Simple Paragraph</p>
    <p class="text-warning bg-warning">This is a Simple Paragraph</p>
    <p class="text-primary bg-primary">This is a Simple Paragraph</p>
    <p class="text-muted">This is a Simple Paragraph</p>
    <p class="lead">The New Paragraph </p>
    <p class="small">The New Paragraph </p>
    <p class="text-right">The New Paragraph </p>
    <p class="text-center">The New Paragraph </p>
    <p class="text-left">The New Paragraph </p>
    <p class="text-uppercase">The New Paragraph </p>
    <p class="text-lowercase">The New Paragraph </p>


</div>

</body>
</html>