<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery-1.12.3.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="../js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <img src="../images/Alcin-01.jpg" class="thumbnail" width="300px" alt="">
    <img src="../images/Alcin-01.jpg" class="img-circle" width="300px" alt="">
    <img src="../images/Alcin-01.jpg" class="img-rounded" width="300px" alt="">
    <img src="../images/Alcin-01.jpg" class="img-thumbnail" width="300px" alt="">
    <img src="../images/Alcin-01.jpg" class="img-responsive" width="300px" alt="">
</div>

</body>
</html>